body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
}

a{
    text-decoration: none;
}
.site-header {
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.header-content {
    padding: 20px;
    background: red;
}

.site-title {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.site-nav ul {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between navigation items */
}

.site-nav a {
    color: white;
    font-size: 1em;
    padding: 1px 3px;
    transition: color 0.3s ease;
}

.site-nav a:hover,
.site-nav a:focus {
    color: #a8dadc; /* Lighter shade when hovered or focused */
}


.main-container {
    /* This container needs to clear its children's floats */
    overflow: auto;
    width:100%;
    min-height:40vh;
    max-height: 75vh;
}

.image-aside {
    float: right;
    width:50vw;
    padding-bottom:3em;
    margin: 0.5em;
    /* border: black solid thin; */
    /* Add width if necessary, otherwise it will be as wide as its content */
}

.image-aside img {
    width: 100%; /* Set a fixed width */
    height: auto; /* Set a fixed height */
    object-fit: contain; /* Scales the image to fit the dimensions, maintaining the aspect ratio */
    /* margin-bottom: 1em;  */
    display: block;
    /* float:right; */
    padding: 1em;
}

/* .secondImage
{
    width:30px;
} */

.text-content {
    /* If you have enough content, this may not be necessary, but it ensures the text does not wrap around the aside */
    overflow: auto;
    text-indent: 2em;
    font-style: italic;
    font-size:25px;
    padding-top: 40px;
    padding-left: 20px;
    /* padding-right: 5px; */
    margin-right: 50vw;
}

body, html
{
    width:100%;
    height:100%;
    margin: 0;
}
