body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
}

a{
    text-decoration: none;
}
.site-header {
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.header-content {
    padding: 20px;
    background: red;
}

.site-title {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.site-nav ul {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between navigation items */
}

.site-nav a {
    color: white;
    font-size: 1em;
    padding: 1px 5px;
    transition: color 0.3s ease;
}

.site-nav a:hover,
.site-nav a:focus {
    color: #a8dadc; /* Lighter shade when hovered or focused */
}


p
{
    text-indent: 2em;
    font-size: larger;
}

#p-div
{
    margin: 40px;
}

html, body {
    height: 100%; /* 让html和body的高度等于视口高度 */
    margin: 0; /* 去掉默认的margin */
}


#imgContainer
{
        display: flex;
        justify-content: center; /* 水平居中 */
        align-items: center; /* 垂直居中 */
        height: 300px; /* 设置容器的高度 */
        
}

