body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
}

a{
    text-decoration: none;
}
.site-header {
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.header-content {
    padding: 20px;
    background: red;
}

.site-title {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.site-nav ul {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between navigation items */
}

.site-nav a {
    color: white;
    font-size: 1.2em;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.site-nav a:hover,
.site-nav a:focus {
    color: #a8dadc; /* Lighter shade when hovered or focused */
}

.report-section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border: 1px solid black;
}

.text-content {
    flex: 1; /* takes 50% width */
    padding: 20px;
    text-indent: 2em;
}

.image-link-content {
    flex: 1; /* takes 50% width */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertically centers content in the flex container */
    align-items: center; /* horizontally centers content in the flex container */
}

.image-link-content img {
    max-width: 100%; /* ensures image does not overflow its container */
    height: auto; /* maintains aspect ratio */
    margin-bottom: 10px; /* space between image and button */
}
